.tdc-main-right-demo {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .tdc-main-right-demo-brain {
    position: relative;
    width: 60%;
    height: 80%;
  }
  .tdc-main-right-demo-brain:after{
    content: '';
    display: block;
    clear: both;
  }
  .tdc-main-right-demo-brain .svg {
    opacity: .5;
  }
  .tdc-main-right-demo-brain .tdc-brain-part {
    position: absolute;
    cursor: pointer;
  }
  .tdc-main-right-demo-brain .tdc-brain-part .svg {
    width: 200px;
    fill: white;
    stroke: black;
    transform: scale(1);
    transition: all .5s;
  }
  .tdc-main-right-demo-brain .tdc-brain-part .svg path {
    pointer-events: all;
    stroke-dasharray: 1000;
    stroke-dashoffset: 1000;
    animation: dash 2s linear forwards;
  }
  .tdc-main-right-demo-brain .tdc-brain-part.active .svg {
    transform: scale(1.5);
    opacity: 1;
    stroke: #fff;
  }
  .tdc-main-right-demo-brain .tdc-frontal-lobe {
    top: 0;
    left: 0;
  }
  .tdc-main-right-demo-brain .tdc-frontal-lobe.active .svg {
    fill: #00bcd4;
  }
  .tdc-main-right-demo-brain .tdc-cerebellum {
    top: 180px;
    left: 225px;
  }
  .tdc-main-right-demo-brain .tdc-cerebellum .svg {
    width: 160px;
  }
  .tdc-main-right-demo-brain .tdc-cerebellum.active .svg {
    fill: #00aa7f;
  }
  .tdc-main-right-demo-brain .tdc-occipital-lobe {
    top: 50px;
    left: 285px;
  }
  .tdc-main-right-demo-brain .tdc-occipital-lobe .svg {
    width: 140px;
  }
  .tdc-main-right-demo-brain .tdc-occipital-lobe.active .svg {
    fill: #ffc446;
  }
  .tdc-main-right-demo-brain .tdc-parietal-lobe {
    top: -35px;
    left: 185px;
  }
  .tdc-main-right-demo-brain .tdc-parietal-lobe:hover .svg, .tdc-main-right-demo-brain .tdc-parietal-lobe.active .svg {
    fill: #e497a4;
  }
  .tdc-main-right-demo-brain .tdc-temporal-lobe {
    top: 100px;
    left: 95px;
  }
  .tdc-main-right-demo-brain .tdc-temporal-lobe .svg {
    width: 220px;
  }
  .tdc-main-right-demo-brain .tdc-temporal-lobe:hover .svg, .tdc-main-right-demo-brain .tdc-temporal-lobe.active .svg {
    fill: #7e7acf;
  }
  .tdc-main-right-demo-brain .tdc-brain-stem {
    top: 260px;
    left: 190px;
  }
  .tdc-main-right-demo-brain .tdc-brain-stem .svg {
    width: 140px;
  }
  .tdc-main-right-demo-brain .tdc-brain-stem:hover .svg, .tdc-main-right-demo-brain .tdc-brain-stem.active .svg {
    fill: #b81434;
  }

  $modal-list:'vision','motion','hearing','lobe','cerebellum','part_six';


  @each $item in $modal-list {
    .#{$item}{
      z-index: 1;
      position: absolute;
      width: 150px;
      height: 150px;
    }
  }

  .vision{
    top:200px;
    left:0px;
  }

  .motion{
    top:180px;
    left:200px;
  }

  .hearing{
    top:310px;
    left:95px;
  }

  .lobe{
    top:250px;
    left:295px;
  }

  .cerebellum{
    top:360px;
    left:225px;
  }
  $parts:'wisdom','action','balance','vision';
  .part_six{
    top:470px;
    left:190px;
  }
  .index{
    position: relative;
    .arrow{
      position: absolute;
      top:0;
      width: 100%;
      height: 100%;
      z-index: -1;
      overflow: hidden;
      @each $item in $parts {
        .part_#{$item}{
          position: absolute;
          border: 2px double #434343;
          animation: hue 2s linear infinite;
          width: 900px;
          height:900px;
          @if $item == 'wisdom'{
            
            top:0;
            transform: translateX(-350px)   translateY(-800px) rotate(-30deg);
            background: linear-gradient(to right,#6f6f6f 5%, #1e1e20);
          }
          @if $item == 'action'{
            right:0;
            transform: translateX(650px)   translateY(-600px) rotate(60deg);
            background: linear-gradient(to right,#1e1e20 5%,#6f6f6f );
          }
          @if $item == 'balance'{
            transform: translateX(480px)   translateY(850px) rotate(-30deg); 
            background: linear-gradient(to right,#6f6f6f 5%, #1e1e20);
          }
          @if $item == 'vision'{
            bottom: 0;
            transform: translateX(-650px)   translateY(450px) rotate(60deg);
            background: linear-gradient(to right,#1e1e20 2%,#6f6f6f );
          }
        }
      }
      .part_one{
        top:30px;
        left:30px;
      }
      .part_two{
        top:30px;
        right:30px;
      }
      .part_three{
        bottom:120px;
        right:30px;
      }
      .part_four{
        bottom:120px;
        left:30px;
      }
      .font{
        width: 100px;
        height: 100px;
        z-index: 10;
        position: absolute;
        color:rgb(216, 211, 211);
        font-family: "楷体","楷体_GB2312";
        font-size: 50px;
        font-weight: bolder;
        text-align: center;
        line-height: 100px;  
      }
      
    }
  }

  @keyframes hue {
    from { filter: hue-rotate(0deg); }
    to   { filter: hue-rotate(360deg); }
}

  .modal{
    position: absolute;
    width: 100%;
    height: 0%;
    top:80%;
    transition: top 2s ease, opacity 2s ease;
    z-index: 0;
    opacity: 0;
  }
  .modal.active{
    z-index: 20;
    top:20%;
    height:80%;
    opacity: 1;
  }


